<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Infotrip">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupOnly = "true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Infotrip">
        <activity
            android:name="com.karendamore.Infotrip.ListJardinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karendamore.Infotrip.RegistroJardinActivity"
            android:exported="false" />
        <activity
            android:name="com.karendamore.Infotrip.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>